html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    box-sizing: border-box;
    background-color: #f2f2f2;
}


.container {
    max-width: 1200px;
    margin: 0 auto;
}

img {
    max-width: 100%;
    display: block;
}

h2 {
    text-align: center;
    font-size: 1.6rem;
}

h3 {
    margin: 0;
    font-weight: 700;
    font-family: "Libre Baskerville", serif;
}

.content {
    padding: 1rem;
    text-align: center;
}

.entry .content {
    background-color: white;
    padding: 1rem;
    text-align: center;
    text-transform: uppercase;
}

.content h3 {
    text-align: center;
    font-size: .9rem;
    line-height: 1.5;
}

.content span {
    color: #db008d;
}

.button {
    background-color: #008fd1;
    color: white;
    padding: .6rem 2rem;
    margin-top: 1rem;
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
}

@media (min-width:480px) {

    .main-content {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .entry {
        flex: 0 0 calc(50% - 1rem);
    }
}

@media screen and (min-width:768px) {
    .entry {
        flex: 0 0 calc(33.3% - 1rem);
    }
}